body {
    font-family: 'Arial';
    font-size: 11px;
    line-height: 19px;
    background-color: whitesmoke;
}

.container {
    padding: 25px;
    background: white;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

.profile-image {
    width: 80px;
    height: 80px;
}

.letter-spacing {
    letter-spacing: 1px;
}

.bold {
    font-weight: 800;
}

@media only screen and (min-width: 767.98px) {
    .container {
        border-top: 5px solid black;
    }
}
